@import "compass/css3";

$breakpoint-alpha: 480px; /*// adjust to your needs*/ 

.rwd-table {
    margin: 1em 0;
    min-width: 300px;
    /*// adjust to your needs*/

tr{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

th {
    display: none;
    /*// for accessibility, use a visually hidden method here instead ! Thanks, reddit!*/
}

td {
    display: block;
    &:first-child{
    padding-top: .5em;
    }

&:last-child {
    padding-bottom: .5em;
}

&:before {
    content: attr(data-th)": ";
    /*// who knew you could do this? The internet, that's who.*/ 
        font-weight: bold;
    /*// optional stuff to make it look nicer*/ 
        width: 6.5em;
    /*// magic number :( adjust according to your own content*/
      display: inline-block;
      /*// end options*/
      
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
}

}

th, td {
    text-align: left;

    @media (min-width: $breakpoint-alpha) {
        display: table-cell; padding: .25em .5em; &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

}


// presentational styling @import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700'; body {
    padding: 0 2em;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #444;
    background: #eee;
}

h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: #34495E;
}

.rwd-table {
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
    tr

{
    border-color: lighten(#34495E, 10%);
}

th, td {
    margin: .5em 1em;

    @media (min-width: $breakpoint-alpha) {
        padding: 1em !important;
    }
}

    th, td:before {
        color: #dd5;
    }

}


/*body {
    margin: 0;
    font-family:Gadugi;
	font-size: 14px;
    width: 100%;
    height: 100%;
    background-color: #F3EDE7;
    transition: all 0.5s;
}


select {
    width: 100%;
    padding: 2px 10px;
    border-radius: 4px;
    background-color: #f1f1f1;
	transition: all 0.5s;
}

td{
    padding: 5px;
	height: 25px;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
}

footer {
    background-color: #B7AFA3;
    color: white;
    text-align: center;
    font-size: 14px;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
}

input[type=text], input[type=password], select {
    width: 100%;
    padding: 2px 10px;
    box-sizing: border-box;
    border: 1px solid #B7AFA3;
    border-radius: 4px;
}

input[type=reset] {
  display: inline-block;
  border-radius: 4px;
  background-color: #d4b34a;
  background-color: #c1c1c1;
  border: none;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 8px;
  width: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.fancybuttoncancel {
  display: inline-block;
  border-radius: 4px;
  background-color: #d4b34a;
  background-color: #c1c1c1;
  border: none;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 8px;
  width: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

select {
    width: 100%;
    padding: 2px 10px;
    border-radius: 4px;
    background-color: #f1f1f1;
	transition: all 0.5s;
}

#message{
    padding: 5px;
    width:380px;
    position:fixed;
    margin-left:-185px;  half of width 
    margin-top:-280px;   half of height 
    top:50%;
    left:50%;
}

.centralcontainer {
    width:auto;
    height:auto;
}

.homelinks{
    width:400px;
    height: 50px;
    position:fixed;
    margin-left:-200px;
    margin-top:-25px;
    left:50%;
    padding: 5px;
    border-width: 3px;
    border-style: solid;
    transition: all 0.5s;
    border-color: gray;
    background-color: #FFFDFC;
}

.homelinks:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 5px 10px 0 rgba(0,0,0,0.19);
}

.homeMenu{
    font-family:Gadugi;
    font-size:16pt;
    font-weight: bold;
    color:black;
    vertical-align:middle;
    text-align:left;
}

.imgHome{
    margin-left: 120px;
}

.signup{
    padding:0px;
    margin:0px 0px 0px 0px;
    color: blue;
    font-size: 10pt;
    width: 50px;
    height: 15px;
    vertical-align:top;
    text-align:left;
}

#home{
    top:20%;
}

#myjobs{
    top:40%;
}

#myhistory{
    top:60%;
}

#myprofile{
    top:80%;
}

#login{
    width:300px;
    height: 200px;
    position:fixed;
    margin-left:-150px;  half of width 
    margin-top:-100px;   half of height 
    top:50%;
    left:50%;
    vertical-align:middle;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 5px 10px 0 rgba(0,0,0,0.19);
    background-color: #FFFDFC;
}

.loginEmail{
    max-width: 300px;
}

.loginPass{
    max-width: 100px;
}

#signup{
    width:700px;
    position:fixed;
    margin-left:-325px;  half of width 
    margin-top:-200px;   half of height 
    top:50%;
    left:50%;
    vertical-align:middle;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 5px 10px 0 rgba(0,0,0,0.19);
    background-color: #FFFDFC;
}

#jobcreation{
    width:600px;
    position:fixed;
    margin-left:-300px;  half of width 
    margin-top:-200px;   half of height 
    top:50%;
    left:50%;
    vertical-align:middle;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 5px 10px 0 rgba(0,0,0,0.19);
    background-color: #FFFDFC;
}

#approval{
    width:500px;
    position:fixed;
    margin-left:-250px;  half of width 
    margin-top:-200px;   half of height 
    top:50%;
    left:50%;
    vertical-align:middle;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 5px 10px 0 rgba(0,0,0,0.19);
    background-color: #FFFDFC;
}

#jobs{
    width:1100px;
    position:fixed;
    margin-left:-550px;  half of width 
    margin-top:-200px;   half of height 
    top:45%;
    left:50%;
    vertical-align:middle;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 5px 10px 0 rgba(0,0,0,0.19);
    background-color: #FFFDFC;
}

#hist{
    width:900px;
    position:fixed;
    margin-left:-450px;  half of width 
    margin-top:-200px;   half of height 
    top:45%;
    left:50%;
    vertical-align:middle;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 5px 10px 0 rgba(0,0,0,0.19);
    background-color: #FFFDFC;
}

.label{
    vertical-align: middle;
    text-align: right;
    
}

.error{
    background-color: palegoldenrod;
    border-color: saddlebrown;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
    margin-top: 10px;
    color: red;
    padding: 5px 5px 5px 5px;
}

.about{
    float: right;
 }

.greetings{
    display: block;
    color: white;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    float: right;
    text-align:right;
}

.loginbar{
    display: block;
    color: white;
    text-align: center;
    padding: 6px 6px;
    text-decoration: none;
    float: right;
    text-align:right;
    vertical-align:central;
}

.about:hover{
    background-color: #003E5F;
}

.logo{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
}

.top {
    width: 100%;
    height: 200px;
    background-color: #6D929B;
}

.msg{
    text-align:right;
}

.main {
    width: 100%;
    vertical-align: middle;
}

.header{
    background-color: #ACD1E9;
    color: white;
	height: 30px;
}

.bottom{
    text-align: right;
    padding-bottom:0px;
}

.fancybutton {
  display: inline-block;
  border-radius: 4px;
  background-color: #d4b34a;
  border: none;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 8px;
  width: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.loginbutton {
  display: inline-block;
  border-radius: 4px;
  background-color: #d4b34a;
  border: none;
  color: white;
  text-align: center;
  font-size: 11px;
  padding: 2px;
  width: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3px;
}

.gridbutton {
  display: inline-block;
  border-radius: 12px;
  background-color: #d4b34a;
  border: none;
  color: white;
  text-align: center;
  font-size: 9px;
  padding: 4px;
  width: 35px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.#btnCreateAccount{
    width: 120px;
}

.fancybutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 5px 10px 0 rgba(0,0,0,0.19);
}

.link{
    width: 80px;
    color: white;
    float: right;
}

.link:hover{
    background-color: #003E5F;
}

.btn-primary {
    width: 150px;
}
.panel-body .btn:not(.btn-block) {
    width: 120px;
    margin: 10px;
}
.panel-primary{
    margin: 0 auto;
    width: 200px;
    padding:20px;
}*/









/*Bootstrap login page*/

@/*import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.login-block {
    background: #DE6262;  fallback for old browsers 
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to bottom, #FFB88C, #DE6262);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    float: left;
    width: 100%;
    padding: 50px 0;
}

.banner-sec {
    background: url(https://static.pexels.com/photos/33972/pexels-photo.jpg) no-repeat left bottom;
    background-size: cover;
    min-height: 500px;
    border-radius: 0 10px 10px 0;
    padding: 0;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0,0,0,0.1);
}

.carousel-inner {
    border-radius: 0 10px 10px 0;
}

.carousel-caption {
    text-align: left;
    left: 5%;
}

.login-sec {
    padding: 50px 30px;
    position: relative;
}

    .login-sec .copy-text {
        position: absolute;
        width: 80%;
        bottom: 20px;
        font-size: 13px;
        text-align: center;
    }

        .login-sec .copy-text i {
            color: #FEB58A;
        }

        .login-sec .copy-text a {
            color: #E36262;
        }

    .login-sec h2 {
        margin-bottom: 30px;
        font-weight: 800;
        font-size: 30px;
        color: #DE6262;
    }

        .login-sec h2:after {
            content: " ";
            width: 100px;
            height: 5px;
            background: #FEB58A;
            display: block;
            margin-top: 20px;
            border-radius: 3px;
            margin-left: auto;
            margin-right: auto
        }

.btn-login {
    background: #DE6262;
    color: #fff;
    font-weight: 600;
}

.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}

    .banner-text h2 {
        color: #fff;
        font-weight: 600;
    }

        .banner-text h2:after {
            content: " ";
            width: 100px;
            height: 5px;
            background: #FFF;
            display: block;
            margin-top: 20px;
            border-radius: 3px;
        }

    .banner-text p {
        color: #fff;
    }*/