<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <sessionState mode="InProc" timeout="30"/>
      <customErrors mode="Off"/>
    </system.web>

  <connectionStrings>
    <!--<add name="MySqlConnectionString" connectionString="Database=clearing;Data Source=clearing.cqr15kqxg1em.us-east-2.rds.amazonaws.com;User Id=userdb;Password=maryhelp" />-->
    <add name="MySqlConnectionString" connectionString="Database=acsm_2a1c579781f0cfc;Data Source=ca-cdbr-azure-central-a.cloudapp.net;User Id=b669ac470c6618;Password=c92a6fae" />
  
  </connectionStrings>
  
  <system.webServer> 
      <defaultDocument> 
          <files> 
              <add value="LogIn.aspx" /> 
          </files> 
      </defaultDocument> 
  </system.webServer> 
  
</configuration>
